@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.metal-linear {
    background-image: url("/images/aluminium-brushed-metal-texture-900x900.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}